/*打印*/
.ne-report-table,.ne-report-detail{
    width:100%; 
}
.ne-report-table,.ne-report-detail,.ne-report-sign{ 
    font-family: tahoma,arial,宋体;
    font-size:12px;
}
.ne-report-detail td { 
 border-bottom-color:#000000;border-bottom-style:solid;border-bottom-width:1px;
border-right-color:#000000;border-right-style:solid;border-right-width:1px; 
}
.ne-report-detail .firsttr td,.ne-report-detail .firstRow td {
     border-top-color:#000000;border-top-style:solid;border-top-width:1px;
}
.ne-report-detail .firstcell {
     border-left-color:#000000;border-left-style:solid;border-left-width:1px;
} 

.line {
    border-bottom-color:#000000;border-bottom-style:solid;border-bottom-width:1px; 
}

.kanban-item {
    padding:3px;float:left;margin:10px;text-align:left;
}
.kanban-details {
    width: 200px;
    font-size: 13px;
    padding: 2px 5px;
    color: #444;
    min-height: 120px;
    display: inline-block;
    vertical-align: top;
}
.kanban-details a {
    cursor: pointer;color: #457BAD;
}

.kanban-details h4 { 
}
.kanaban-imagepanel {
    width: 100px;
    height: 100px;
    text-align: center;
    overflow: hidden;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    border-collapse: separate;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    display: inline-block;
    vertical-align: top;
}
.kanaban-action {
    cursor:pointer;
}
.kanaban-image {
    width: 100px;
    height: auto;
    clip: rect(10px, 100px, 110px, 0px);
}